@import "tailwindcss";

@theme {
  --color-primary: #064E3B;
  --color-secondary: #D4A843;
  --color-accent: #FDF8F0;
  --color-dark: #1A1A2E;
  --color-highlight: #10B981;
  
  --font-display: var(--font-playfair);
  --font-sans: var(--font-jakarta);
  --font-arabic: var(--font-amiri);
}

body {
  background-color: var(--color-accent);
  color: var(--color-dark);
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
